.pulse {
  animation: gradient-pulse ease-in-out infinite;
}

@keyframes gradient-pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.7;
  }
}
